:root {
	--primary-color: #000;
	--bg-color: #efe4d8;
    --theme-color: #1a0dae;
	--code-bg-color: #eee;
	--code-border-color: var(--theme-color);
	--a-color: var(--theme-color);
	--a-hover-color: red;
	--a-visited-color: var(--theme-color);
	--aside-color: #777;
}

a:link { color: var(--a-color); }
a:hover, a:visited:hover { color: var(--a-hover-color); }
a:visited { color: var(--a-visited-color); }

body {
	margin: 1em auto;
	max-width: 30em;
	padding: 0 0.62em;
	font: 1.2em/1.62 sans-serif;
	line-height: 1.5;
	color: var(--primary-color);
	background-color: var(--bg-color);
}

h1,h2,h3 {
	line-height: 1.2;
}

h1 small {
	color: var(--aside-color);
	font-size: 0.8em;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
    text-decoration-color: var(--aside-color);
}

pre, code {
	font: 15px "Source Code Pro", monospace;
	padding: 0 4px;
      border: 1px solid #828282;
      border-radius: 3px;
      background-color: #dbd0c4; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }

  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/* ------------------------------------ */
/* pre, */
/* code { */
/*   font-size: 15px; */
/*   border: 1px solid #828282; */
/*   border-radius: 3px; */
/*   background-color: #dbd0c4; } */

/* code { */
/*   padding: 1px 5px; } */

/* pre { */
/*   padding: 8px 12px; */
/*   overflow-x: auto; } */
  /* pre > code { */
  /*   border: 0; */
  /*   padding-right: 0; */
  /*   padding-left: 0; } */

hr {
	border-top: 1px solid var(--theme-color);
} 

@media print {
	body {
		max-width: none;
	}
}
