import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*, 
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

:root {
    /* light */
    /* ---------------------------------------------------------------------- */
    /* --primary-color: #000000; */
    /* --bg-color: #efe4d8; */
    /* --theme-color: #2a1dae; */

    /* --container-bg-color: #dbd0c4; */

    /* --button-start-color: rgba(191,180,168,1); */
    /* --button-end-color: rgba(223,212,200,1); */
    /* --button-inset-shadow-color: rgba(220, 220, 220, 0.4); */

    /* --code-snippet-filename-primary-color: #777777; */
    /* --code-snippet-filename-secondary-color: #888888; */
    /* --aside-border-color: #aaaaaa; */

    /* --code-string-color: #005f00; */
    /* --code-aria-intrinsic-func-color: #5f875f; */
    /* --code-aria-struct-acc-color: #555; */
    /* ---------------------------------------------------------------------- */

    /* dark */
    /* ---------------------------------------------------------------------- */
    --primary-color: #d8d8d8;
    --bg-color: #0f0f0f;
    --theme-color: #6d7dee;

    --container-bg-color: #191919;
    --toc-bg-color: #22222b;

    --button-start-color: rgba(16,16,16,1);
    --button-end-color: rgba(37,37,37,1);
    --button-inset-shadow-color: rgba(120, 120, 120, 0.4);

    --code-snippet-filename-primary-color: #777777;
    --code-snippet-filename-secondary-color: #666666;
    --aside-border-color: #444444;
    --aside-bg-color: #1C1C1C;

    --code-string-color: #5fd7af;
    --code-aria-intrinsic-func-color: #add8e6;
    --code-aria-struct-acc-color: #aaa;
    /* ---------------------------------------------------------------------- */

    /* common */
    --a-color: var(--theme-color);
    --a-visited-color: var(--theme-color);
    --a-hover-color: red;

    --secondary-color: #777;

    --container-border-color: #828282;

    --code-comment-color: #888;
}

@font-face {
    font-family: MiscIcons;
    src: url("/assets/misc-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

a:link { color: var(--a-color); }
a:hover, a:visited:hover { color: var(--a-hover-color); }
a:visited { color: var(--a-visited-color); }

body {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 0.62em;
    font: 1.2em sans-serif;
    line-height: 1.3;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.display {
    display: block;
    overflow-x: auto;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 small {
    color: var(--secondary-color);
    font-size: 0.8em;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

nav {
    margin-bottom: 1.5rem;
}

#main-nav h1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
}

#main-nav ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#main-nav ul li {
    padding-right: 1rem;
}

figure {
    margin: 0;
}

img {
  padding: 2px;
  border: dashed 2px #444;
  display: block;
  max-width: 90%;
  width: auto;
  height: auto;
  max-height: 600px;
  margin: 1em auto;
}

video {
  padding: 2px;
  border: dashed 2px #444;
  display: block;
  max-width: 90%;
  width: auto;
  height: auto;
  max-height: 600px;
  margin: 1em auto;
}

details > summary {
    padding: 0.5rem 1rem;
    background-color: var(--toc-bg-color);
    cursor: pointer;
}

details > summary > span {
    margin-left: 3px;
}

#TOC ul {
    margin-top: 0;
    padding-left: 2rem;
}

#TOC {
    border-left: solid 5px var(--toc-bg-color);
    padding-top: 0.5rem;
}

ul p {
    margin: 0;
}

/* li { */
/*     margin: 1em 0; */
/* } */

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.blog-entry-date {
    font-size: 0.9em;
    color: #aaa;
    display: block;
    margin-top: 1em;
}

h2 {
    padding-top: 5px;
    font-size: 1.25em;
    border-bottom: solid 1px #333;
}

h3 {
    font-size: 1.05em;
}

aside {
    font-size: 0.7em;
    margin: 1.4em auto;
    border: 1px solid var(--aside-border-color);
    background-color: var(--aside-bg-color);
}

aside p {
    padding: 0 1.2em;
}

code {
    overflow-wrap: break-word; 
}

pre, code, .code-snippet-filename {
    font: 0.85em/1 "Source Code Pro", monospace;
}

pre {
    border: 1px solid var(--container-border-color);
    border-radius: 3px;
    background-color: var(--container-bg-color);
    padding: 8px 12px;
    margin-bottom: 0;
    margin-top: 1em;
    overflow-x: auto;
    white-space: pre;
    overflow-wrap: normal;
}

.pre-wrap {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

pre > code {
    padding-right: 0;
    padding-left: 0;
}

.code-snippet-filename {
    color: var(--code-snippet-filename-primary-color);
    text-align: right;
    margin-top: 5px;
    font-size: 0.6em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.code-snippet-filename em {
    color: var(--code-snippet-filename-secondary-color);
    font-style: normal;
}

.author {
    font-weight: 400;
    font-size: 0.7em;
    color: var(--secondary-color);
    font-style: italic;
}

a.button {
    display: block;
    margin: 1em auto;
    padding: 3px 0;
    width: 100%;
    box-shadow:inset 0 1px 1px var(--button-inset-shadow-color);
    /* -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4); */
    /* -moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4); */
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.9em;
    text-align: center;

    color: var(--primary-color);
    border: 1px solid var(--a-color);
    background: var(--button-start-color);
    background: -moz-linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
    background: -webkit-linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
    background: linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
}

a.button:visited {
    color: var(--primary-color);
}

a.button:hover, a.button:visited:hover {
    color: var(--primary-color);
    border: 1px solid var(--a-hover-color);
}

.extern-link:after {
    font-family: MiscIcons;
    font-weight: bold;
    content: "\E900";
    display: inline-block;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #bbb;
    background-color: var(--container-bg-color);
}

td code {
}

th, td {
    border: 1px solid var(--container-border-color);
    padding: 5px 10px;
    font-size: 0.85em;
}

hr {
    border-top: 1px solid var(--theme-color);
}

@media print {
    body {
        max-width: none;
    }

    details {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.1em;
    }

    img {
        max-width: 70%;
    }
    
    video {
        max-width: 70%;
    }
} 

.pretype-aria .k {
    color: var(--theme-color);
    font-weight: bold;
}

.pretype-aria .t {
    color: var(--theme-color);
    font-weight: bold;
}

.pretype-aria .c {
    color: var(--theme-color);
}

.pretype-aria .n {
    color: var(--theme-color);
}

.pretype-aria .i {
    color: var(--code-aria-intrinsic-func-color);
    font-weight: bold;
}

.pretype-aria .s {
    color: var(--code-string-color);
}

.pretype-aria .ch {
    color: var(--theme-color);
}

.pretype-aria .struct-acc {
    color: var(--code-aria-struct-acc-color);
}

.pretype-aria .com {
    color: var(--code-comment-color);
}

.pretype-console {
    color: var(--code-comment-color); 
}

.pretype-console .prompt {
    color: var(--theme-color);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pretype-console .sh {
    color: var(--primary-color);
}
