:root {
	--primary-color: #000;
	--bg-color: #fff;
	--code-bg-color: #eee;
	--code-border-color: #1a0dae;
	--a-color: var(--code-border-color);
	--a-hover-color: red;
	--a-visited-color: var(--a-color);
	--aside-color: #777;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dde3dd;
		--bg-color: #000;
		--code-bg-color: #222;
		--code-border-color: #ccffa8;
		--a-color: var(--code-border-color);
		--a-hover-color: #cfe;
		--a-visited-color: var(--a-color);
		--aside-color: #999;
	}
}

a:link { color: var(--a-color); }
a:hover, a:visited:hover { color: var(--a-hover-color); }
a:visited { color: var(--a-visited-color); }

body {
	margin: 1em auto;
	max-width: 30em;
	padding: 0 0.62em;
	font: 1.2em/1.62 sans-serif;
	line-height: 1.5;
	color: var(--primary-color);
	background-color: var(--bg-color);
}

h1,h2,h3 {
	line-height: 1.2;
}

h1 small {
	color: var(--aside-color);
	font-size: 0.8em;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

code {
	background-color: var(--code-bg-color);
}

pre code, code {
	font: 0.8em "Source Code Pro", monospace;
	padding: 0 4px;
	border-radius: 2px;
}

pre code {
	background-color: transparent;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size: 4;
	padding: 0;
	overflow-x: auto;
	background-color: var(--code-bg-color);
	padding-left: 12px;
	border-left: 7px solid var(--code-border-color);
	border-radius: 1px;
}

hr {
	border-top: 1px solid var(--a-color);
} 

@media print {
	body {
		max-width: none;
	}
}
