@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    /* light */
    /* ---------------------------------------------------------------------- */
	/* --primary-color: #000000; */
	/* --bg-color: #efe4d8; */
    /* --theme-color: #2a1dae; */
   
    /* --container-bg-color: #dbd0c4; */
    
    /* --button-start-color: rgba(191,180,168,1); */
    /* --button-end-color: rgba(223,212,200,1); */
    /* --button-inset-shadow-color: rgba(220, 220, 220, 0.4); */
    
    /* --code-snippet-filename-primary-color: #777777; */
    /* --code-snippet-filename-secondary-color: #888888; */
    /* --aside-border-color: #aaaaaa; */

    /* --code-string-color: #005f00; */
    /* --code-aria-intrinsic-func-color: #5f875f; */
    /* --code-aria-strp-color: #555; */
    /* ---------------------------------------------------------------------- */
	
    /* dark */
    /* ---------------------------------------------------------------------- */
    --primary-color: #e8e8e8;
	--bg-color: #0f0f0f;
    --theme-color: #6d7dee;
    
    --container-bg-color: #191919;
	
    --button-start-color: rgba(16,16,16,1);
    --button-end-color: rgba(37,37,37,1);
    --button-inset-shadow-color: rgba(120, 120, 120, 0.4);
    
    --code-snippet-filename-primary-color: #777777;
    --code-snippet-filename-secondary-color: #666666;
    --aside-border-color: #444444;

    --code-string-color: #5fd7af;
    --code-aria-intrinsic-func-color: #add8e6;
    --code-aria-strp-color: #aaa;
    /* ---------------------------------------------------------------------- */
   
    /* common */
    --a-color: var(--theme-color);
	--a-visited-color: var(--theme-color);
	--a-hover-color: red;

    --secondary-color: #777;
	
	--container-border-color: #828282;
}

@font-face {
    font-family: FreeSans;
    src: url("/assets/FreeSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FreeSans;
    src: url("/assets/FreeSansBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MiscIcons;
    src: url("/assets/misc-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

a:link { color: var(--a-color); }
a:hover, a:visited:hover { color: var(--a-hover-color); }
a:visited { color: var(--a-visited-color); }

body {
	margin: 1em auto;
	max-width: 30em;
	padding: 0 0.62em;
	font: 1.2em FreeSans;
	line-height: 1.5;
	color: var(--primary-color);
	background-color: var(--bg-color);
}

.display {
    display: block;
    overflow-x: auto;
}

h1,h2,h3 {
	line-height: 1.2;
}

h1 small {
	color: var(--secondary-color);
	font-size: 0.8em;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: none;
	/* text-decoration: underline; */
    /* text-decoration-color: var(--secondary-color); */
}

h2 {
    margin: 30px 0 12px 0;
    padding-top: 3px;
}

ul {
    padding-left: 25px;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: "\274F  "; 
    font-weight: bold;
}

aside {
    font-size: 0.75em;
    margin: 1.4em auto;
    border-top: 1px solid var(--aside-border-color);
    border-bottom: 1px solid var(--aside-border-color);
}

pre, code, .code-snippet-filename {
	font: 0.85em/1 "Source Code Pro", monospace;
}

pre, code {
	padding: 0 4px;
    border: 1px solid var(--container-border-color);
    border-radius: 3px;
    background-color: var(--container-bg-color);
}

pre {
    padding: 8px 12px;
    margin-bottom: 0;
    margin-top: 1em;
    overflow-x: auto; 
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; 
}

.code-snippet-filename {
    color: var(--code-snippet-filename-primary-color);
    text-align: right;
    margin-top: 5px;
    font-size: 0.6em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.code-snippet-filename em {
    color: var(--code-snippet-filename-secondary-color);
    font-style: normal;
}

.author {
    font-weight: 400;
    font-size: 0.7em;
    color: var(--secondary-color);
    font-style: italic;
}

a.button {
    display: block;
    margin: 1em auto;
    padding: 3px 0;
    width: 100%;
    box-shadow:inset 0 1px 1px var(--button-inset-shadow-color);
    /* -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4); */
    /* -moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4); */
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.9em;
    text-align: center;

    color: var(--primary-color);
    border: 1px solid var(--a-color);
    background: var(--button-start-color);
    background: -moz-linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
    background: -webkit-linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
    background: linear-gradient(0deg, var(--button-start-color) 0%, var(--button-end-color) 100%);
}

a.button:visited {
    color: var(--primary-color);
}

a.button:hover, a.button:visited:hover {
    color: var(--primary-color);
    border: 1px solid var(--a-hover-color);
}

.extern-link:after {
    font-family: MiscIcons;
    font-weight: bold;
    content: "\E900";
    display: inline-block;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #bbb;
    background-color: var(--container-bg-color);
}

th, td {
    border: 1px solid var(--container-border-color);
    padding: 0 10px;
}

hr {
	border-top: 1px solid var(--theme-color);
} 

@media print {
	body {
		max-width: none;
	}
}

.aria .k {
    color: var(--theme-color);
    font-weight: bold;
}

.aria .t {
    color: var(--theme-color);
    font-weight: bold;
}

.aria .c {
    color: var(--theme-color);
}

.aria .n {
    color: var(--theme-color);
}

.aria .i {
    color: var(--code-aria-intrinsic-func-color);
    font-weight: bold;
}

.aria .s {
    color: var(--code-string-color);
}

.aria .ch {
    color: var(--theme-color);
}

.aria .strp {
    color: var(--code-aria-strp-color);
}

.console .i {
    font-weight: bold;
}
