:root {
    --sidebar-width: 100%;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-ui,
.body {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    /* min-height: 100dvh; */
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: calc(10px + 6vmin);
    color: white;
}

.main-ui .body {
    position: relative;
}

#sidebar {
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    font-size: calc(14pt + 0.5vmin);
}

#sidebar-menu {
    margin: 14px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-switch {
    flex: 0 0 auto;
}

.toggle-label {
}

/* Toggle Switch Actual Design START */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #7b7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-switch .slider.round {
    border-radius: 34px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}
/* Toggle Switch Actual Design END */

.question {
    margin: auto;
    padding: 0 15px;
    word-break: break-all;
}

.keypad {
    width: 100%;
    max-width: 600px;
    height: 50%;
    max-height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 641px)  {
    :root {
        --sidebar-width: 400px;
    }
}


button {
    border: solid 1px #111;
    padding: 0;
}

.keypad button {
    width: 100%;
    font-family: monospace;
    font-size: 1em;
    color: #ccc;
    background-color: #333;
}

.keypad button.C,
.keypad div.C {
    background-color: #933333;
}

.input {
    color: #b4f3c8;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: #232;
    font-size: calc(12pt + 1vmin);
}

.header-middle {
    margin: 5px 12px;
    padding: 0;
}

div.open-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 12px;
    padding: 0;
}

.keypad .custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    
    font-family: monospace;
    font-size: 1em;
    color: #ccc;
    background-color: #333;
    border: solid 1px #111;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noclickhighlight {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.cur-pointer {
    cursor: pointer;
}
